.navbar {
    background-color: rgb(69, 69, 69);
    width: 100%;
}

.navbar .navbar-link {
    text-decoration: none;
    font-size: 45px;
    padding-left: 200px;
    margin-top: 50px;
    text-align: center;
    color: deepskyblue;
    background-color: dimgray;
}


body {
    margin: 0;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: darkred;
    background-image: url(./img/AnyConv.com__Twisted\ Fate\ Odisea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    opacity: 0.85;
    color: white;
    background-color: none;
    width: 600px;
    height: 250px;
    position: absolute;
    left: 80px;
    bottom: 50%;
    margin-bottom: -125px;
    text-align: justify;
}

.hero-content .button {
    background-color: rgb(202, 73, 73);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.hero-content .button:hover {
    background-color: rgb(201, 47, 47);
}

.productos {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/Ezreal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkred;
    color: white;
}

.productos-articulos {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-left: 30px;
    margin-top: 200px;
}

.img-container {
    width: 400px;
    background-color: rgba(169, 169, 169, 0.272);
    margin-left: 70px;
}

.productos-articulos .img-container img {
    object-fit: cover;
    height: 50%;
    width: 50%;
    padding-left: 5%;
    margin-top: 10px;
}

.nombre {
    padding-left: 25px;
}

.datos {
    padding-left: 15px;
}

.datos .button{
    margin-top: 10px;
    font-size: 25px;
    background-color: rgb(202, 73, 73);
    border-radius: 10px;
}

.datos .button:hover{
    background-color: rgb(201, 47, 47);
}

.promociones {
    color: white;
    width: 100vw;
    height: 130vh;
    background-image: url(./img/Pyke\ Proyecto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.promociones-articulos {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-left: 30px;
    margin-top: 150px;
}

.promociones-articulos .img-container img {
    object-fit: cover;
    height: 50%;
    width: 50%;
    padding-left: 5%;
    margin-top: 10px;
}

.footer {
    color: white;
    font-size: 25px;
    width: 100vw;
    height: 50vh;
    background-color: black;
    background-image: url(./img/Riot_Games-Logo.wine.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .informacion {
    margin-top: 30px;
}